@font-face {
    font-family: 'ocr';
    src: url('../fonts/ocr.eot');
    src: url('../fonts/ocr.eot') format('embedded-opentype'),
    url('../fonts/ocr.woff2') format('woff2'),
    url('../fonts/ocr.woff') format('woff'),
    url('../fonts/ocr.ttf') format('truetype'),
    url('../fonts/ocr.svg#ocr') format('svg');
}

.form-horizontal .form-group {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
/*
a {
    color: #119769;
}

a:hover,
a:active,
a:focus {
    color: #119769;
    outline: none;
}

header {
    font-size: 25px;
    line-height: 88px;
    position: relative;
    white-space: nowrap;
}
*/
/*header a {
    color: #000;
    line-height: 1.25;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

header img {
    display: block;
}

header h1 {
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    color: #000;
    white-space: normal;
    max-width: calc(100% - 115px);
    margin: 0;
}*/

.highlight {
    background-color: #fff;
    padding: 20px 40px;
    margin-top: 20px;
}

.pay {
    padding-top: 25px;
}

.pay_content {
    margin-top: 50px;
    background: #119769;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
    padding: 23px 20px 21px;
}

.pay_content .media {
    margin-top: 20px;
}

.pay_content .media:first-child {
    margin-top: 0;
}

.pay_content .media-body {
    padding-left: 5px;
}

.btn.btn-warning.btn-lg {
    min-width: 269px;
}

.btn-warning {
    color: #000;
    background-color: #FFD800;
    border-color: #FFD800;
    font-size: 14px;
    padding: 20px 30px;
    transition: all .2s;
    font-weight: 600;
    outline: none;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
    color: #000;
    background-color: #e7c400;
    border-color: #e7c400;
    outline: none;
}

.btn-warning.active.focus,
.btn-warning.active:focus,
.btn-warning.active:hover,
.btn-warning:active.focus,
.btn-warning:active:focus,
.btn-warning:active:hover {
    color: #000;
    background-color: #e7c400;
    border-color: #e7c400;
    outline: none;
}

.text-lg {
    font-size: 18px;
}

hr {
    background: #FFD800;
    height: 2px;
    border: 0;
    margin: 25px 0;
    width: 100%;
}
/*
.form-control {
    height: 36px;
    color: #555;
    padding: 4px 20px;
    border: 2px solid #B6B6B6;
    border-radius: 0;
    box-shadow: none;
    font-size: 12px;
}
*/
/*.checkbox input {
    display: none;
}

.checkbox input + label {
    position: relative;
    padding-left: 26px;
}

.checkbox input + label:before {
    content: '';
    width: 19px;
    height: 17px;
    background: url("../images/checkbox.png") no-repeat center;
    position: relative;
    top: -2px;
    margin-right: 6px;
    position: absolute;
    top: 1px;
    left: 0;
}


.checkbox input:checked + label:before {
    background: url("../images/checkbox-active.png") no-repeat center;
}
*/
h3 {
    margin: 0;
    font-weight: 600;
}

.card {
    max-width: 100%;
}

.payment-card h4 {
    text-align: center;
}

.payment-card .service-fee {
    width: 308px;
    margin: 0 auto;
    padding: 0 10px;
}

.payment-content-block {
    background-color: #fff;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.payment-box {
    height: 325px;
    background: url("../images/card1.png") no-repeat;
    position: relative;
    margin-left: -13px;
}

.payment-box input {
    border: none;
    background: none;
    outline:none;
    font-family: 'ocr';
}

.payment-box__number {
    top: 87px;
    left: 85px;
    width: 340px;
    height: 31px;
    font-size: 24px;
    padding: 5px 7px;
    position: absolute;
    z-index: 10;
    outline:none;
}

.payment-box__cvv {
    position: absolute;
    z-index: 10;
    top: 193px;
    left: 232px;
    width: 67px;
    height: 31px;
    font-size: 24px;
    padding: 5px 9px;
    outline:none;
}

.payment-box__date {
    position: absolute;
    top: 193px;
    left: 66px;
    width: 100px;
    height: 31px;
    font-size: 24px;
    padding: 5px 6px;
    z-index: 10;
    outline:none;
}

.secure-icons {
    padding-left: 35px;
}

.form-group.last {
    margin-bottom: 0;
}

.result-table {
    margin-top: 30px;
}

.result-table.error {
    margin-top: 20px;
}


.result-table h3 {
    line-height: 1.25;
}

.result-table table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 25px 0 20px;
    table-layout: fixed;
}

.result-table table th {
    text-align: left;
    background-color: #A6E5BD;
    padding: 12px 10px 20px;
    vertical-align: top;
}

.result-table table td {
    background-color: #fff;
    padding: 12px 10px 20px;
    vertical-align: top;
}

.result-table table tbody tr:nth-child(2n + 1) td {
    background-color: #F9F9E3;
}

.alt-table {
    margin: 20px 0;
}

.alt-table .thead {
    background-color: #A6E5BD;
    padding: 12px;
    font-weight: 700;
}

.alt-table .tbody {
    background-color: #F9F9E3;
    padding: 12px;
}

.text-danger {
    color: #BC1818;
}

.multiple-items {
    margin: 0 -40px;
}

.multiple-item {
    padding: 15px 56px;
}

.multiple-item:first-child {
    padding-top: 0;
}

.multiple-item:nth-child(2n) {
    background-color: #F9F9E3;
}

.multiple-item-offset {
    margin-left: -26px;
}

.multiple-item__last {
    padding: 0 56px;
}

@media (max-width: 930px) {
    .payment-box {
        margin-left: 0;
    }
}


@media (max-width: 600px) {
    .payment-box {
        background-size: 100%;
        height: 207px;
    }
    .payment-box__number {
        top: 51px;
        left: 28px;
        width: 260px;
        font-size: 18px;
    }
    .payment-box__date {
        font-size: 18px;
        top: 119px;
        left: 35px;
        width: 79px;
    }
    .payment-box__cvv {
        font-size: 18px;
        top: 119px;
        left: 146px;
        width: 55px;
    }
}

/* my styles */
.error > input {
    border: 2px solid #ff6666;
}

input.error {
    border: 1px solid #FF0000;
}

.error_hint {
    display: none;
}

.error > .error_hint {
    display: block;
}

.blockquote-modal {
    border-left: 0px;
}


/* css animated preloader */
.bubblingG {
    text-align: center;
    width:120px;
    height:75px;
    margin: auto;
}

.bubblingG span {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    margin: 38px auto;
    background: #ffffff;
    border-radius: 75px;
    -o-border-radius: 75px;
    -ms-border-radius: 75px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    animation: bubblingG 1.5s infinite alternate;
    -o-animation: bubblingG 1.5s infinite alternate;
    -ms-animation: bubblingG 1.5s infinite alternate;
    -webkit-animation: bubblingG 1.5s infinite alternate;
    -moz-animation: bubblingG 1.5s infinite alternate;
}

#bubblingG_1 {
    animation-delay: 0s;
    -o-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
}

#bubblingG_2 {
    animation-delay: 0.45s;
    -o-animation-delay: 0.45s;
    -ms-animation-delay: 0.45s;
    -webkit-animation-delay: 0.45s;
    -moz-animation-delay: 0.45s;
}

#bubblingG_3 {
    animation-delay: 0.9s;
    -o-animation-delay: 0.9s;
    -ms-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
}



@keyframes bubblingG {
    0% {
        width: 15px;
        height: 15px;
        background-color:#ffffff;
        transform: translateY(0);
    }

    100% {
        width: 36px;
        height: 36px;
        background-color:#119769;
        transform: translateY(-32px);
    }
}

@-o-keyframes bubblingG {
    0% {
        width: 15px;
        height: 15px;
        background-color:#ffffff;
        -o-transform: translateY(0);
    }

    100% {
        width: 36px;
        height: 36px;
        background-color:#119769;
        -o-transform: translateY(-32px);
    }
}

@-ms-keyframes bubblingG {
    0% {
        width: 15px;
        height: 15px;
        background-color:#ffffff;
        -ms-transform: translateY(0);
    }

    100% {
        width: 36px;
        height: 36px;
        background-color:#119769;
        -ms-transform: translateY(-32px);
    }
}

@-webkit-keyframes bubblingG {
    0% {
        width: 15px;
        height: 15px;
        background-color:#ffffff;
        -webkit-transform: translateY(0);
    }

    100% {
        width: 36px;
        height: 36px;
        background-color:#119769;
        -webkit-transform: translateY(-32px);
    }
}
