.red {
    border: 1px solid red;
}

html,
body {
    font-family: 'Ubuntu', sans-serif;
    color: #333;
}

body {
    background-color: #E5E5E5;
    overflow-y: scroll;
}

h3 {
    margin-bottom: 22px;
    margin-top: 0;
    font-size: 23px;
}

h5 {
    font-size: 16px;
    color: #33393D;
}

p {
    margin-bottom: 15px;
    line-height: 16px;
}

a {
    color: #2D9CDB;
    text-decoration: none;
}

a:hover {
    color: #2D9CDB;
    text-decoration: underline;
}

ol, ul {
    margin-bottom: 15px;
}

li {
    margin-bottom: 10px;
}

img {
    outline: none;
}

.mb_50 {
    margin-bottom: 50px;
}

.hide {
    display: none !important;
}

/* castom checkbox */

.checkbox {
    float: left;
    vertical-align: top;
    margin-top: 0 !important;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label span {
    display: inline-block;
    width: 21px;
    height: 21px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(img/sprite.png) -4px -2px no-repeat;
    cursor: pointer;
    float: none;
}

input[type="checkbox"]:checked + label span {
    background: url(img/sprite.png) -4px -33px no-repeat;
}

/* end */

.logo img {
    padding: 0 0 0 10px;
    vertical-align: top;
}

.container {
    position: relative;
    max-width: 1024px;
    background-color: #fff;
}

.btn {
    width: 230px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 35px;
    border-radius: 22px;
    border: 2px solid transparent;
    color: #fff;
    background-color: #2D9CDB;
    outline: none;
}

.btn-lg {
    width: 294px;
    border: 2px solid #FFFFFF;
    border-radius: 32px;
    line-height: 45px;
}

.btn-light {
    background: #fff;
    color: #2D9CDB;
    border: 2px solid #2D9CDB;
}

.btn-lg:hover {
    border: 2px solid transparent;
}

.btn:hover,
.btn:active,
.btn.active,
.btn:focus,
.btn.focus {
    background-color: #fff;
    color: #2D9CDB;
    border: 2px solid #2D9CDB;
    outline: none;
}

.btn-light:hover,
.btn-light:active,
.btn-light.active,
.btn-light:focus,
.btn-light.focus {
    background-color: #2D9CDB;
    color: #fff;
    border: 2px solid transparent;
    outline: none;
}

.btn > a {
    display: block;
    color: #fff;
}

.btn:hover > a {
    color: #2D9CDB;
    text-decoration: none;
}

.review-text {
    display: inline-block;
    width: 70%;
    text-align: left;
}

.slider-item .review-text p {
    height: 160px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.slider-item .review-text h5 {
    margin-top: 0px;
}

.separator {
    height: 3px;
    background-color: #EBEBEB;
    margin: 30px 0;
    padding: 0 20px;
}

.modal-container .seperetor {
    padding: 0;
}

.header {
    padding-top: 18px;
}
.header>div:last-child {
    margin: 2px 0;
}
.header-block {
    height: 318px;
    background: url(img/header.jpg) no-repeat 100% 35%;
    background-size: cover;
}
.header-block.germany {
    background: url(../images/germania.jpg) center 50% no-repeat;
    background-size: cover;
}
.header-block.new_york {
    background: url(../images/new_york.jpg) center 35% no-repeat;
    background-size: cover;
}
.header-block.finland {
    background: url(../images/finland1.jpg) center top no-repeat;
    background-size: cover;
}
.header-block.france {
    background: url(../images/france1.jpg) center 50% no-repeat;
    background-size: cover;
}

.header-block .btn {
    float: right;
}

.mb_40 {
    margin-bottom: 40px;
}

.mb_30 {
    margin-bottom: 30px;
}

.mb_20 {
    margin-bottom: 20px;
}

header {
    height: 78px;
    /*padding-top: 15px;*/
    background: #fff;
}

.header-dark header {
    background: transparent;
}

.header-dark .logo h1 {
    color: #fff;
}

.header-dark.header-block {
    background: url(img/header-dark.jpg) no-repeat 100% 35%;
}



.logo h1 {
    display: inline-block;
    margin-top: 10px;
    font-size: 22px;
    line-height: 25px;
    font-weight: bold;
    color: #0081B7;
}

.header-bg {
    position: relative;
    display: table;
    height: 240px;
    width: 100%;
}

.header-bg h2 {
    display: table-cell;
    margin: 0;
    font-size: 42px;
    font-weight: bold;
    line-height: 48px;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}

.text-block {
    padding: 32px 0;
    background: #F2F2F2;
}

.text-block h3 {
    margin-bottom: 20px;
}

/* get visa form */

.main_header-block {
    position: relative;
    text-align: center;
    padding-top: 135px;
}

.main_header-block h2 {
    position: absolute;
    top: 0;
    color: #fff;
    right: 23%;
    font-size: 42px;
    line-height: 48px;
}

.choose-form {
    position: absolute;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    border-radius: 0;
    border: 10px solid rgba(190, 186, 186, 0.5);
    top: 120px;
    z-index: 999999;
}

.choose-form .btn {
    margin: 37px 0 10px;
    font-size: 16px;
    float: none;
}

.get-visa_modal {
    overflow: hidden;
}

.choose-form_content {
    background: #fff;
    padding: 30px 40px;
}

/* HOW TO BLOCK */

.item-ico {
    position: relative;
}

.item-ico:before {
    position: absolute;
    content: '';
    width: 80px;
    height: 80px;
    z-index: 99;
    left: -40px;
    bottom: -25px;
    background: url(img/sprite.png) 0 0 no-repeat;
}

.user-data-ico:before {
    background-position: -5px -53px;
}

.tickets-ico:before {
    background-position: 0 -393px;
}

.email-ico:before {
    background-position: 0 -234px;
}

.finger-ico:before {
    background-position: 20px -310px;
}

.get-visa-ico:before {
    width: 90px;
    height: 90px;
    background-position: -4px -146px;
}

.how-to_block {
    padding-top: 82px;
    text-align: center;
}

.how-to_block h3 {
    margin-bottom: 25px;
}

.how-to_item {
    position: relative;
    padding: 40px 0 0 0;
    margin-bottom: 30px;
}

.how-to_item span {
    position: absolute;
    top: -25px;
    left: 30px;
    color: rgba(230, 230, 230, 0.4);
    font-size: 76px;
    font-weight: bold;
}

.how-to_content {
    position: relative;
    padding: 5px 40px;
    height: 93px;
    display: table;
    text-align: center;
    border: 1px solid #F0F0F0;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.18);
    width: 100%;
}

.how-to_content p {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
}

.text-ico {
    padding-left: 110px;
    position: relative;
}

.text-ico:before {
    position: absolute;
    content: '';
    width: 85px;
    height: 100px;
    left: 0;
    background: url(img/sprite.png) 0 0 no-repeat;
}

.insur-ico:before {
    background-position: -132px 0px;
}

.price-ico:before {
    background-position: -130px -125px;
}

.home-ico:before {
    height: 90px;
    background-position: -92px -420px;
}

.diamond-ico:before {
    height: 90px;
    background-position: -80px -332px;
}

/* SLIDER */

.carousel-control {
    opacity: 1;
}

.carousel-control:before {
    position: absolute;
    content: '';
    top: 95px;
    width: 70px;
    height: 70px;
    background: url(img/sprite.png) -222px -5px no-repeat;
}

.carousel-control.left:before {
    right: 43px;
}

.carousel-control.right:before {
    left: 43px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.carousel-control .icon-next:before,
.carousel-control .icon-prev:before {
    content: '';
}

.slider-block {
    height: 375px;
    padding-top: 32px;
    text-align: center;
    background: url(img/slider-bg.jpg) center top no-repeat;
    background-size: cover !important;
}
.slider-block.germany {
    background: url(/images/germanyNG.jpg) center top no-repeat;
}
.slider-block.new_york {
    background: url(/images/new_york2.jpg) center top no-repeat;
}
.slider-block.finland {
    background: url(/images/finland2.jpg) center bottom no-repeat;
}
.slider-block.france {
    background: url(/images/france2.jpg) center bottom no-repeat;
}


.slider-block h3 {
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
    color: #fff;
}

.slider-item {
    padding: 24px;
    background-color: #fff;
    border-radius: 8px;
    text-align: left;
}

.slider-item img {
    width: 92px;
    height: 92px;
    vertical-align: top;
    border-radius: 50%;
    margin-right: 50px;
}

.carousel-inner {
    max-width: 676px;
    margin: 0 auto;
    border-radius: 8px;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

/* GET A VISA Pop up block */

.get-visa_modal {
    height: 100px;
    padding-top: 30px;
    background: #2D9CDB;
    text-align: center;
}

.get-visa_btn {
    height: 100px;
    padding-top: 25px;
    text-align: center;
    background-color: #2D9CDB;
}


/* MODAL */
.modal-header .close {
    font-size: 30px;
}

.modal-dialog {
    width: 850px;
    max-width: 95%;
    margin: 30px auto;
}

.modal-footer,
.modal-header {
    border: none;
}

.modal-footer {
    max-width: 700px;
    margin: 20px auto 0;
    text-align: left;
}

.modal-footer.first-page {
    /*justify-content: flex-end;*/
}

.modal-footer.first-page button:first-child {
    display: none;
}
.modal-footer .btn {
    font-size: 16px;
}

.modal-open .modal {
    overflow-y: scroll;
}


.modal-container {
    max-width: 700px;
    padding: 15px;
    margin: 0 auto;
}

.modal-container h3 {
    margin-bottom: 50px;
}

.modal-container h5 {
    float: left;
    margin-top: 0;
    margin-bottom: 15px;
    max-width: 66%;
}

.modal-container .checkbox label,
.modal-container .radio label {
    padding-left: 0;
}

.modal-container span {
    float: right;
    font-size: 16px;
    color: #33393D;
}

.modal-container .service-fee span {
    font-size: 23px;
    color: #333;
}

.modal-container .service-fee h3 {
    margin-bottom: 0;
}

.modal-container ul li {
    list-style: none;
}

.service-item {
    overflow: hidden;
}

.dropdown-toggle.btn {
    background: #fff;
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    color: #33393D;
}

.dropdown-toggle.btn:hover,
.dropdown-toggle.btn:active,
.dropdown-toggle.btn:focus,
.dropdown-toggle.btn.active
.dropdown-toggle.btn.focus {
    background: #fff;
    border: 2px solid #C4C4C4;
    color: #33393D;
}



.date-input {
    z-index: 999;
}

.pay-btn-back {
    width: 100px;
}

.pay-btn {
    padding: 0 55px;
}


.modal-container .form-horizontal h3 {
    margin-bottom: 0;
}

.form-horizontal .checkbox, .form-horizontal .radio {
    padding-top: 0;
    float: none;
}
.form-horizontal .error-message {
    margin-top: 10px;
}


.questionnaire h5 {
    float: none;
    max-width: 100%;
}
.questionnaire label {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    padding-top: 0 !important;
    padding-right: inherit;
    margin: 5px 5px 10px 0;
}

.questionnaire .checkbox label {
    display: inline-block;
    min-width: 100px;
    padding-left: 0;
}
.questionnaire .checkbox span {
    float: none;
}

.questionnaire input {
    font-size: 14px;
}
.questionnaire .validate-info span {
    font-size: 12px;
}

.has-feedback span {
    color: #2D9CDB;
    font-size: 16px;
}

.input-group-addon {
    background-color: #fff;
    color: #2D9CDB;
    padding: 6px 10px;
}

.js-title-step span.label {
    display: none;
}

.payment-color .modal-body {
    padding: 0;
}
.payment-color .modal-container,
.payment-color .modal-footer {
    max-width: 100%;
    padding: 0;
    margin: 0;
}
.payment-color .js-title-step {
    position: absolute;
    left: 330px;
    top: 32px;
}
.payment-color .modal-footer {
    position: absolute;
    left: 305px;
    right: 44px;
    bottom: 18px;
}
.payment-color .payment-card {
    padding-top: 80px;
    padding-left: 50px;
    float: right;
    width: 568px;
}
.payment-card .checkbox ins {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    text-decoration: none;
}
.payment-card .checkbox label {
    white-space: nowrap;
}

.secure-images {
    text-align: center;
    padding-top: 74px;
    background-color: #22688f;
    width: 280px;
    height: 550px;
    float: left;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.secure-images div {
    margin: 0 auto 50px;
    width: 225px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
}

.secure-images div:last-child {
    margin-bottom: 0;
}

.secure-images div img {
    margin-bottom: 11px;
}
.secure-images div span {
    display: block;
}

.secure-icons {
    padding-left: 0;
    float: left;
}

.payment-descriptions {
    font-size: 12px;
    margin-left: 79px;
    margin-right: -15px;
}

.payment-description-item {
    position: relative;
    margin-bottom: 15px;
}

.payment-description-item p {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 14px;
}

.payment-image {
    position: absolute;
    left: -75px;
    top: 7px;
    width: 68px;
    height: 60px;
    background-image: url(/images/secure-sprite.png);
}


.img-security {
    background-position: 68px 0;
}

.img-pay {
    background-position: 0 0;
}

.img-federation {
    background-position: 4px -64px;
}

/* FOOTER */

.footer-container {
    height: 213px;
    background: #0C374F;
}

footer {
    padding: 30px 15px;
}

.footer-container p {
    color: #AFD0E3;
}

.footer-container a {
    color: #fff;
}

.test {
    position: absolute;
    height: 100%;
    width: 25%;
    background-color: #ccc;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

@media (max-width: 1565px) {
    .date-full {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .payment-descriptions {
        padding-right: 20px;
    }
    .input-group.date {
        max-width: 140px;
    }
}

@media (max-width: 1010px) {
    .carousel-inner {
        width: 80%;
    }

    .how-to_item {
        margin: 0 auto 20px;
    }

    .item-ico:before {
        content: none;
    }

    .slider-item {
        padding: 25px;
    }

    .slider-item .review-text p {
        font-size: 12px;
    }
}

@media (max-width: 991px) {
    .main_header-block h2 {
        right: 10%;
    }
    .main-page .how-to_block {
        padding-top: 220px;
    }
    .price-ico:before {
        margin-top: 10px;
    }
    .diamond-ico:before {
        margin-top: 14px;
    }
}

@media (max-width: 930px) {
    .payment-color {
        padding-bottom: 525px;
    }
    .payment-color .payment-card {
        float: none;
        width: 500px;
        margin: 0 auto;
        padding-top: 0;
        padding-left: 0;
    }
    .payment-color .payment-card .checkbox,
    .payment-color .payment-card .error-message {
        padding-left: 15px;
        padding-right: 15px;
    }
    .payment-color .js-title-step {
        position: static;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 30px;
    }
    .payment-color .modal-footer {
        position: static;
        width: 470px;
        margin: 0 auto;
    }
    .secure-images {
        width: 100%;
        height: 510px;
        padding-top: 58px;
        position: absolute;
        bottom: -525px;
    }
}

@media (max-width: 768px) {
    .header button {
        height: 40px;
        line-height: 14px;
        white-space: normal;
    }
    .slider-block {
        height: 500px;
    }
    .carousel-inner {
        width: 62%;
    }
    .carousel-control.left {
        left: 55px;
    }
    .carousel-control.right {
        right: 55px;
    }
    .review-text {
        width: 100%;
    }
    .get-visa_modal .modal-content {
        width: 100%;
    }
    .modal-dialog {
        width: 90%;
    }
    footer {
        padding-bottom: 0;
    }
    .slider-item .review-text p {
        height: auto;
        overflow: unset;
    }
}

@media (max-width: 600px) {
    .choose-form {
        width: 300px;
        margin-left: -150px;
    }
    .choose-form_content {
        padding: 40px 20px;
    }
    .main_header-block h2 {
        right: 2%;
    }
    .main-page .how-to_block {
        padding-top: 230px;
    }
    .slider-block {
        height: 650px;
    }
    .payment-color .payment-card {
        width: 321px;
    }
    .modal-footer {
        width: 291px;
        text-align: center;
    }
    .modal-footer .pull-right {
        margin-left: 0 !important;
        float: none !important;
        margin-top: 5px;
    }
}

@media (max-width: 492px) {
    .logo {
        text-align: left;
        margin-top: -14px;
        max-width: 175px;
    }
    .logo h1 {
        font-size: 17px;
        margin: 0 5px;
    }
    .logo img {
        width: 58px;
        margin-top: 5px;
    }
}
@media (max-width: 480px) {
    .header-bg h2 {
        font-size: 28px;
    }
    .how-to_block p {
        font-size: 12px;
    }
    .how-to_block h5 {
        font-size: 14px;
    }
    .main_header-block h2 {
        right: 0;
    }
    footer {
        padding: 15px 5px 0;
    }
}

@media (max-width: 400px) {
    .modal-container span {
        font-size: 12px;
    }
    .modal-container .service-fee h3 {
        font-size: 20px;
    }
    .modal-container .service-fee span {
        font-size: 20px;
    }
    .header button {
        width: 130px;
        font-size: 11px;
    }
    .slider-block {
        height: 800px;
    }
    footer {
        font-size: 11px;
    }
}

@media (width: 320px) {
    .choose-form {
        width: 300px;
        right: 4%;
    }
    .choose-form_content {
        padding: 30px 20px;
    }
}

.error-message {
    font-size: 12px;
    color: red
}